* {
  margin: 0;
  padding: 0;
}
footer {
  background-color: blue;
  color:white;
  text-align: center;
  padding: 50px 0;
  
}

.header {
  background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    display: flex;
}

ul {
  display: flex;
  gap: 50px;
  text-decoration: none;
  list-style: none;
}
nav{
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  
}

.text  {
  text-align: center;
}

.MD {
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-size: 18px;
}
.hg  {
  text-decoration: none;
  color: white;
}

ul i{
   border-radius: none;
}

ul{
  list-style: none;
}

.description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  text-align: center;
}
.mama span{
  color: blue;
}







.header {
  background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    display: flex;
}

ul {
  display: flex;
  gap: 50px;
  text-decoration: none;
  list-style: none;
}

nav{
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-size: 18px;
}

ul i{
  border-radius: none;
}

ul{
 list-style: none;
}

.MD {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  color:white;
  text-align: center;
  padding: 50px 0;
  
}


.footer a {
  color: white;
}

.card_main {
  display: flex;
  flex-direction: row;
  gap: 100px;
 
}


.card {
  width: 300px;
  text-align: center;
}


.main-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}


.photo{
  width: 200px;
}

h2.text2  {
  text-align: center;
  color: rgb(255, 191, 0) ;
  font-family: Arial, Helvetica, sans-serif;
  
}
h2.text3  {
  text-align: center;
  color: blue;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  
}
p.text2{
  text-align: center;
  color: gray;
}
p.text3{
  text-align: center;
  color: gray;
}

.card2{
  border: 1px solid grey;
  margin: 10px 0;
  border-bottom: rgb(0, 0, 255) solid 3px;
  border-radius: 3px;
}

.card1 {
  border: 1px solid grey;
  margin:10px 0px;
  border-bottom: rgb(255, 191, 0) solid 3px;
  border-radius: 3px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}


img.photo{
  width: 350px;
  height: 300px;
}
.text2{
  margin: 20px 50px;
}
.text3{
  margin: 20px 50px;
}

.button {
  
  text-align: center;
 
  color: black;
  display: none;

}

@media all and (max-width: 1000px) {
  .flex-nav {
    flex-direction: column;
  }
  .flex-nav ul {
      flex-wrap: wrap
  }
  .flex-nav li {
      flex: 1 1 30%;
  }
  .flex-nav .menu {
    flex-wrap: wrap;
      gap: 5px;
  }

  .card_main{
    flex-direction: column;
  }
  .card{
    width: auto;
  }
  .mama{
    text-align: center;
  }
}

@media all and (max-width: 500px) { 
  .flex-nav li {
      flex: 1 1 100%;
  }
  .menu {
      display: none;
      padding-left: 0;
      align-items: center;
  }
  .button {
      display: block;
  }
  .menu li{
    text-align: center;
  }

}



.open {
  display:  flex;
}

.menu li:hover {
  animation: pulse;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.photo:hover{
  animation: shakeY;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

